@import "tailwindcss";

.carousel-slide {
    display: none;
} 

.carousel-slide.active{
    display: block;
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from { opacity: 0.4 }
  to { opacity: 1 }
}

:root {
    --bg-primary: #D68F00;
    --bg-secondary: #FFC34A;
    --bg-linear-primary: 270deg,rgba(255, 195, 74, 1) 0%, rgba(158, 105, 0, 1) 100%;
}